extends layout

block content
  div
    div.top-left(id="pie-menu")
  div.container
    div.row
      div.col-md-12
        div.container.center(id="main-button")
append userScripts
  script(src="/js/app/index/app.js")
  script(src="/js/app/index/main.js")
