extends layout

block content
  div.container
    div.row
      div.col-md-6
        div.container(id="main-button")
append userScripts
  script(src="/js/app/index/app.js")
  script(src="/js/app/index/main.js")
